* {
    margin: 0;
    padding: 0;
}

body {

    background: #EFEFEF;
    font-family: 'poppins', sans-serif;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

header h1 {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;

    padding-bottom: 18px;

    color: #FFFFFF;
}

header p{
    font-family: 'Poppins';

    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

.page {
    width: 750px;
    margin: 0 auto;
}

header {
    width: 417px;

    margin-top: 140px;
}

header p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;

}

form {
    margin-top: 58px;
    background: white;
    padding: 64px;
    border-radius: 8px 8px 0 0;
    

}

fieldset {
    border: none;
}

fieldset legend {
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;

    width: 100%;
    border-bottom: 1px solid #E6E6F0;

    padding-bottom: 16px;
}

.input-wrapper {
    display: flex;
    gap: 22px;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;

    margin-top: 36px;
    margin-bottom: 8px;
}

.input-wrapper input {
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    width: 300px;
    height: 56px;
}

.name {
    display: flex;
    flex-direction: column;

}

.last-name {
    display: flex;
    flex-direction: column;
    
}

.mail {
    display: flex;
     flex-direction: column;
    margin-top: 16px;
}

.mail label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;

    margin-bottom: 8px;
}

.mail input {
    background:#FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    height: 56px;
}

.mail label span {
    margin-left: 9px;
    
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC
}

.pass {
    display: flex;
    flex-direction: column;
    margin-top: 16px;  
}

.pass label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;

    margin-bottom: 8px;
}

.pass input {
    background:#FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    height: 56px;

}

.pass label span {
    margin-left: 9px;
    
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC
}

.fieldset-wrapper {
    padding-top: 20px;
}

.mentor {
    display: flex;
     flex-direction: column;
}

.mentor label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;

    margin-bottom: 8px;
}

.mentor input {
    background:#FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    width: 622px;
    height: 56px;
}

.mentor label span {
    margin-left: 9px;
    
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC
}

#pg {
    display: block;
    text-transform: uppercase;

    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #535971;

    padding-top: 32px;
    padding-bottom: 8px;
}

.date-1 {
    display: flex;
    gap: 32px;
}

.date-2 {
    display: flex;
    gap: 32px;
}
.wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;

    padding-bottom: 8px;

}

.wrapper label span {
    margin-left: 9px;
    
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC
}

.wrapper input {
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    width: 300px;
    height: 56px;
}

.wrapper-1 input {
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    width: 140px;
    height: 56px;

}

.wrapper-2 input {
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
    border-radius: 8px;

    box-sizing: border-box;
    width: 140px;
    height: 56px;

}

footer {
    background: #535971;

    display: flex;
    flex-direction: column;

    padding: 52px 71px;

    margin-bottom: 100px;

    border-radius: 0px 0px 20px 20px;
}

footer .button {
    height: 56px;
    background: #FF5374;
    border: none;
    border-radius: 20px;

    font-family: 'Staatliches';

    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;

}

/* input::-webkit-datetime-edit{
    min-width: 100%;
    width: 100%;
  } */